akismet==1.1
amqp==5.0.6
asgiref==3.3.4
beautifulsoup4==4.9.3
billiard==3.6.4.0
celery==5.1.0
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
Django==2.2.24
django-appconf==1.0.4
django-bootstrap4-form==4.0.1
django-celery-beat==2.2.0
django-helpdesk @ git+https://github.com/django-helpdesk/django-helpdesk.git@df05ce2b1f13e2bc2eb4fe55033e0a69e41349f6
django-markdown-deux==1.0.5
django-model-utils==4.1.1
django-reversion==3.0.9
django-timezone-field==4.1.2
django-user-accounts==3.0.4
djangorestframework==3.12.4
email-reply-parser==0.5.12
idna==2.10
kombu==5.1.0
lxml==4.6.3
Markdown==3.3.4
markdown2==2.4.0
Pillow==8.2.0
pinax-invitations==7.0.0
pinax-teams==2.0.0
prompt-toolkit==3.0.18
python-crontab==2.5.1
python-dateutil==2.8.1
python-slugify==5.0.2
pytz==2021.1
requests==2.25.1
simplejson==3.17.2
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
text-unidecode==1.3
urllib3==1.26.5
vine==5.0.0
wcwidth==0.2.5
